In [7]:
import pandas as pd
from scipy import stats as st

#pandas data stream
data=pd.read_csv('.\datasets\Apparel_Data.csv')
data

    SL No  Usage  Gender  Awareness  Preference
0       1      3       2          7           5
1       2      1       1          2           4
2       3      1       1          3           6
3       4      3       2          6           5
4       5      3       2          5           7
5       6      2       2          4           5
6       7      2       1          5           4
7       8      1       1          2           3
8       9      2       2          4           3
9      10      1       1          3           2
10     11      3       2          6           6
11     12      3       2          6           6
12     13      1       1          4           3
13     14      3       2          6           5
14     15      1       2          4           4
15     16      1       2          3           2
16     17      3       1          7           4
17     18      2       1          6           4
18     19      1       1          1           3
19     20      3       1          5           4
20     21      3       2          6           7
21     22      2       2          2           1
22     23      1       1          1           3
23     24      3       1          6           6
24     25      1       2          3           2
25     26      2       2          5           4
26     27      3       2          7           6
27     28      2       1          6           2
28     29      1       1          7           3
29     30      2       2          5           4
30     31      1       2          1           7
31     32      1       2          4           5
32     33      2       1          3           3
33     34      2       1          4           5
34     35      3       1          5           7
35     36      3       1          6           7
36     37      3       2          6           5
37     38      3       2          5           4
38     39      3       2          7           6
39     40      1       1          4           4
40     41      1       1          2           4
41     42      1       1          1           2
42     43      1       1          2           3
43     44      1       1          3           4
44     45      1       1          1           4
45     46      1       2          3           2
46     47      1       1          7           3
47     48      2       2          4           3
48     49      3       2          6           6
49     50      2       1          6           4

In [8]:
#pandas data series
usage=data.Usage
gender=data.Gender
awareness=data.Awareness
pref=data.Preference

In [10]:
genUse=pd.crosstab(gender,usage)
genUse

Usage    1  2   3
Gender
1       15  6   5
2        6  6  12

In [12]:
genPref=pd.crosstab(gender,pref)
genPref

Preference  1  2  3   4  5  6  7
Gender
1           0  3  8  10  1  2  2
2           1  3  2   4  6  5  3

In [13]:
genAware=pd.crosstab(gender,awareness)
genAware

Awareness  1  2  3  4  5  6  7
Gender
1          4  4  4  3  3  5  3
2          1  1  3  5  4  7  3

In [15]:
#used to find P-value (2nd arg) to analyze dependency
#if P-value is < 0.05, the variables are dependent
st.chi2_contingency(genUse)

(6.67016806722689, 0.03561159351474649, 2, array([[10.92,  6.24,  8.84],
        [10.08,  5.76,  8.16]]))

In [18]:
t2 = st.chi2_contingency(genAware)
t2[1]

0.5898852113702591

In [17]:
t3 = st.chi2_contingency(genPref)
t3

(12.168040293040294,
 0.058323323211028205,
 6,
 array([[0.52, 3.12, 5.2 , 7.28, 3.64, 3.64, 2.6 ],
        [0.48, 2.88, 4.8 , 6.72, 3.36, 3.36, 2.4 ]]))